---
layout: default
title: Dario's USA
---

<div class="background-above-the-fold container-fluid py-md-1 mt-5">
    <div class="col-8 offset-2 col-md-4 offset-md-4 py-5">
        <div>
            <img id="Home" class="darios-logo-main" src="imgs/darios-logo.svg" alt="Dario's USA Corporation"/> 
        </div>
        <div>
            <h2 class="burgundy">Carpentry Supplies</h2>
            <hr class="burgundy">
            <h3>Plywood | Hardware | Laminates</h3>
        </div>
    </div>
</div>

<div class="bg-dark-beige">
    <section class="py-5">
        {% include materials.html %}
    </section> 

    <!-- FIND US -->

    <section class="py-5">
        {% include findus.html %}
    </section> 

    <!-- GET IN TOUCH -->
    <section class="pb-5">
        <h1 id="Dario-contact">GET IN TOUCH</h1> 
    </section>
</div>