<div class="container">
    <div style="width: 60%; margin-left: 20%;">
        <h1 id="Location" class="text-center burgundy pt-5">GET IN TOUCH</h1>
        <hr class="burgundy mb-3">
        <p class="text-center burgundy mb-5">Call us at <a class="burgundy" href="tel:7863611073"><b>786-361-1073</b></a> or leave us a message using the form below</p>
    </div>
    <fieldset>
    <form id="contact">
        <div class="mb-3 burgundy text-center"><b>All fields, unless otherwise noted, are required.</b></div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Your email address</label>
                    <input id="emailInput" class="form-control" name="from" type="email" required aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div> 
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="nameInput" class="form-label">Full name</label>
                    <input id="nameInput" class="form-control" name="name" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="phoneInput" class="form-label">Phone number <span class="form-text">(optional)</span></label>
                    <input id="phoneInput" class="form-control" name="phone" type="tel" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="addressInput" class="form-label">Address <span class="form-text">(optional)</span></label>
                    <input id="addressInput" class="form-control" name="address">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="subjectInput" class="form-label">Subject</label>
            <input id="subjectInput" class="form-control" name="subject" required>
        </div>
        <div class="mb-3">
            <label for="mdInput" class="form-label">Message (markdown allowed)</label>
            <textarea id="mdInput" class="form-control" name="md" rows="10" placeholder="Type your message here..." required></textarea>
        </div>
        <button type="submit" class="btn btn-burgundy">Submit</button>
    </form>
    </fieldset>
</div>