<h1>GET IN TOUCH</h1>
<fieldset>
<form id="contact">
    <label>
    Your email address *
    <input name="from" type="email" required>
    </label>
    <label>
    Subject *
    <input name="subject" type="10" required>
    </label>
    <label>
    Your name *
    <textarea name="name" rows="10" required></textarea>
    </label>
    <label>
    Your phone number
    <textarea name="phone" rows="10"></textarea>
    </label>
    <label>
    Your address
    <textarea name="address" rows="10"></textarea>
    </label>
    <label>
    Your message (Markdown allowed)
    <textarea name="md" rows="10" required></textarea>
    </label>
    <input name="submit" type="submit">
</form>
</fieldset>