<div class="container">
    <div>
        <h1 id="Location" class="text-center">{{ 'findUs' | i18n | safe }}</h1>
        <hr class="white">
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col my-5">
                    <p class="location text-center">
                        <b>Dario’s USA Corp</b><br>
                        <i>7655 W 2nd Ct</i><br>
                        <i>Hialeah, FL 33014</i>
                    </p>
                    {% include 'map.njk' %}
                </div>
                <div class="col">
                    <div class="row my-5">
                        <div class="col-4">
                            <p class="days">
                                {{ 'dates' | i18n | safe }}
                            </p>
                        </div>
                        <div class="col-8">
                            <p class="hours text-center">
                                <i>8:00 AM - 4:00 PM</i><br>
                                <i>8:00 AM - 4:00 PM</i><br>
                                <i>8:00 AM - 4:00 PM</i><br>
                                <i>8:00 AM - 4:00 PM</i><br>
                                <i>8:00 AM - 4:00 PM</i><br>
                                <i>8:00 AM - 12:00 PM</i><br>
                                <i>{{ 'closed' | i18n }}</i><br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>