<div class="container">
    <div style="width: 50%; margin-left: 25%;">
        <h1 id="Location" class="text-center">FIND US</h1>
        <hr class="white">
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col my-5">
                    <p class="location text-center">
                        <b>Dario’s USA Corp</b><br>
                        <i>7655 W 2nd Ct</i><br>
                        <i>Hialeah, FL 33014</i>
                    </p>
                    {% include map.html %}
                </div>
                <div class="col">
                    <div class="row my-5">
                        <div class="col-4">
                            <p class="days">
                                Monday<br>
                                Tuesday<br>
                                Wednesday<br>
                                Thursday<br>
                                Friday<br>
                                Saturday<br>
                                Sunday<br>
                            </p>
                        </div>
                        <div class="col-8">
                            <p class="hours text-center">
                                <i>8:00 AM - 4:00 PM</i><br>
                                <i>8:00 AM - 4:00 PM</i><br>
                                <i>8:00 AM - 4:00 PM</i><br>
                                <i>8:00 AM - 4:00 PM</i><br>
                                <i>8:00 AM - 4:00 PM</i><br>
                                <i>8:00 AM - 12:00 PM</i><br>
                                <i>CLOSED</i><br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>