<div class="container">
    <div class="row">
        <div class="col">
            <h1 id="Materials">MATERIALS</h1>
            <hr class="white">
            <p class="text-center">We supply all the tools and materials necessary to get your job done right.</p>
            <div class="row">
                <div class="col-4 offset-2">
                    <ul>
                        {% for material in materials-left %}
                            <li><b>{{material[0]}}</b></li>
                            {% if material[1].length != 0 %}
                                <ul>
                                    {% for submaterial in material[1] %}
                                        <li><i>{{submaterial}}</i></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-4 offset-1">
                    {% for material in materials-right %}
                        <li><b>{{material[0]}}</b></li>
                        {% if material[1].length != 0 %}
                            <ul>
                                {% for submaterial in material[1] %}
                                    <li><i>{{submaterial}}</i></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col offset-1 hide-mobile">
            <img class="col" src="imgs/kitchen.png" width="100%" alt="Light brown kitchen">
        </div>
    </div>
</div>