<nav class="navbar navbar-expand-lg navbar-dark bg-brown fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="/#Home">
      <img src="/imgs/darios-wordmark.svg" height="60" class="d-inline-block align-top"
          alt="Dario's USA logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDarios" aria-controls="navbarDarios" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarDarios">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/#Home">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/#Materials">Materials</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/#Location">Location</a>
        </li>

        <li class="nav-item me-5">
          <a class="nav-link" href="/#Contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
